<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://images.pexels.com/photos/6120182/pexels-photo-6120182.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                   alt="login form"
                   class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;"
              >
            </div>
            <div class="col-md-6 col-lg-7 dflex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-chart-line fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Stockify</span>
                  </div>
                  
                  <h5 class="fw-normal mb-3 pb-3">Register an account</h5>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <%= render "devise/shared/signup", f: f %>

                  <p>Already have an account? <%= render "devise/shared/links" %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "devise/shared/footer" %>