<div class="form-outline mb-4">
  <%= f.label :email, class:'form-label' %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control form-control-lg' %>
</div>

<div class="form-outline mb-4">
  <%= f.label :password, class:'form-label' %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.password_field :password, autocomplete: "new-password", class:'form-control form-control-lg' %>
</div>

<div class="form-outline mb-4">
  <%= f.label :password_confirmation, class:'form-label' %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control form-control-lg' %>
</div>

<div class="pt-1 mb-4">
  <%= f.submit "Sign up", class:'btn btn-dark btn-lg btn-block' %>
</div>